{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 style="padding-bottom: 10px;">Login to  Your Account</h2>
            </div>
            <div class="col-md-12" id="log_in_form">
                <form action="{% url 'logon' %}" method="POST"> {% csrf_token %}
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">
                      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                  </span>
                  <input name="username" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                </div>
                <br>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">
                      <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                  </span>
                  <input name="password" type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                </div>
                <br>
                <button id="subb" type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}