django>=1.11.19
django-hashid-field==1.2.3
hashids==1.2.0
gunicorn==19.7.1
dj-database-url==0.5.0
psycopg2==2.7.4
whitenoise==3.3.1

#dev
django-debug-toolbar==1.7
django-extensions==1.7.8
Werkzeug==0.12.1
