<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            {% if user.is_authenticated %}
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% endif %}
            <a class="navbar-brand" href="{% url 'index' %}">
                <!-- Orange Juice icon by Icons8 -->
                <!-- Orange Juice icon by Icons8 -->
                <img class="icon icons8-Orange-Juice" width="25" height="25" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAACRElEQVRIid3VPWgTYRgH8GcR3MzkotBMioPUD1AHrelgqG2qb7EgLQjtoDgcpRCkiGKtBC2CnJMdKlRxdHiHStuYkM+WaEFPArrY3lE0NdQ2F9M2H700f4ckbYK5y5GtvvDn4OB9fjz3vHdH9F8uj6z5vXJeMROPog03ikgrmwXE1rfhkTXjKJrYMJLIFJDIFPY4Eg9dW8tFbyL7pR8J30XDyB/uuhtC/nhPqYj2AF/7gUkyzGrAHqncyzizODizdXImOjjTPxQJn+03pC5TSDzU7S/va+esz8GZ6uAMpegjq8H2JXy6bApZDvRyIqIOzgYriqODM4VxZtFH/Je+m0Vi4b6XN2xnf14dd3yrQPxtnFkNZ7IS7PyM+VZTyMrEuext+2lcH2+D8/WF3Iux4xHDDsorHur2Y/akOeTVGagCITa4D8kBQnaYkB+lt3WR5UAvR/CYudP1/AhUgZByEvKjBIg74YbIj/CtJ/BZTSFrrkNQBYL2uAooh+kiC5Gh+3BbTCGqQFi/UxMARJrQRRZnnecxtb8ukp0+DFUozkEHUXQRee5eEyYJiPYYIhszxXlsuYpFt58Wr4VnO4hkOBdt6kABUpchkppphirsFs+N7F5L94w/npvvj6Yx32o89HctSA5UP6LcSFUnNkNk8ePDcG6uBWl3U82kPM349caOjaFqpNxV3S6IiDyKJtb7lyyNXUHmwT/DViGSCJHqv/XTSsbqlfOKR9bUWvEupMPJRwe9Wy6SIJICkaRS8RN1i+/59Re6A7QGyhCdNQAAAABJRU5ErkJggg==">
            </a>
            <a href="{% url 'index' %}" class="navbar-brand">ojuice</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'index' %}">
                        <span class="glyphicon glyphicon-th-list " aria-hidden="true"></span> List all
                    </a>
                </li>
                <li>
                    <a href="{% url 'new' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new
                    </a>
                </li>
            </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                <li><a href="{% url 'login' %}">Login</a></li>
                {% else %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user " aria-hidden="true"></span>
                        &nbsp;{{user}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'logout' %}">Log out</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
