{% load staticfiles %}
<!doctype html>
<html>

    <head>
        <title>
            {% block title %}Lol{% endblock title %}
        </title>
        <link rel="icon" href="{% static 'favicon.png' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel='stylesheet' href="{% static 'css/bootstrap.css' %}">
        <!-- JQUERY -->
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/jquery.validate.js' %}"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script src="{% static 'js/init.js' %}"></script>
    </head>

    <body>
        {% include 'partials/header.html' %}
        {% block content %}{% endblock content %}
        {% include 'partials/footer.html' %}
        {% block javascript %}{% endblock javascript %}
    </body>

</html>