<html>
<head><title>ForgotPassword</title>
</head>
<body>
<div class="forgot-password-container">
						<h2> Forgot Password</h2>
						<form class="nice-form">
							<div class="form-group">
								<label for="exampleInputEmail1">EMAIL</label>
								<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-nice">Submit</button>
							</div>
							
						</form>
					</div>
</body>
</html>



