{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
<div class="container outer_wrap">
    {% if messages %}
    <div class="row">
        <div class="col-md-12">
            <div id="message_list">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>{{message.tags|capfirst}}! </strong>{{ message }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="todolist box-shadow">
                <h1>{{title}}</h1>
                <p>{{ discription }}</p>
                <form action="{% url 'create_quick' %}" method="post">
                    {% csrf_token %}
                    {{ form.title }}
                </form>
                <hr>
                <ul class="list-unstyled">
                    {% for todo in todos %}
                    <li class="ui-state-default">
                        <div class="checkbox">
                            <label class="newTask">
                                <input {% if todo.checked %}checked{% endif %} type="checkbox" onclick="myTest('{{todo.id}}')" />
                                <b>{{todo.title}}</b>: {% if mobile %} {{todo.body|truncatechars:20|urlize}} {% else %} {{todo.body|truncatechars:65|urlize}} {% endif %}</label>
                            <div class="pull-right">
                                <a href="{% url 'detail' todo.id %}" id="left_pencil">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                                <a id="{{todo.id}}" class="todo_remove">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div class="todo-footer">
                    <span class="text-muted"><strong id="counted_todos">{{todos|length}}</strong> Items Left</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
    $(".todo_remove").on('click', function() {
        $(this).parent().parent().parent().hide('slow', function() {
            $(this).remove();
        });
        $("#counted_todos").text($("#counted_todos").text() - 1)
        var url = "/todo/delete/" + $(this).attr('id') + "/"
        $.get(url, function(data, status) {
            console.log("Status: " + status);
        });
    });

    function myTest(hash_id) {
        var url = "/todo/change_checked/" + hash_id + "/"
        $.get(url, function(data, status) {
            console.log("Status: " + status);
        });
    };

</script>
{% endblock javascript %}