{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
<div class="container outer_wrap">
    <div class="row">
        <div class="col-md-12">

            <div class="logform">
                <h2 class="login_first">Login to  Your Account</h2>
                <!-- <h5 class="login_second">secondary text</h5> -->
                <h5 class="login_third">Enter your <b>username</b> and <b>password.</b></h5>
                <form action="{% url 'logon' %}" method="POST"> {% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </span>
                        <input name="username" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                      <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                        </span>
                        <input name="password" type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                    </div>
                    <br>
                    <button id="subb" type="submit" class="btn btn-primary btn-lg go_button" style="font-weight: 600;">Login</button>
                     <div class="box-footer">
                                <p><a href="forgotpassword.html" class="forgot-pass">Forgot your password?</a></p>
                            
                            </div> 

                </form>

               
                <div class="last">
                    <!-- <label class="pull-left"><input type="checkbox">&nbsp;Keep me signed in</label> -->
                    <input checked class="pull-left" type="checkbox" id="stay"><label id="stay_label" for="stay">Keep me signed in</label>
                    <a class="pull-right" href="{% url 'register' %}">Need an Account?</a>
                </div>
            </div>
        </div>
    </div>

    {% if messages %}
        <div class="row">
        <div class="col-md-12">
        <div id="message_login">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>{{message.tags|capfirst}}! </strong>{{ message }}
            </div>
            {% endfor %}
        </div>
        </div>
        </div>
    {% endif %}
</div>
{% endblock content %}
